<div class="welcome-container">
    <div class="welcome-header">
        <p class="title">Chào mừng đến với hệ thống bệnh viện</p>
    </div>
    <div class="welcome-body">
        <div class="item">
            <div class="image"><img src="../../../assets/images/bsaichuyennghiep-1-1.png" alt=""></div>
            <p class="title">Bác sĩ kinh nghiệm</p>
            <p class="para">Đội ngũ bác sĩ là các chuyên gia nhãn khoa với nền tảng chuyên môn vững chắc, giàu kinh nghiệm và y đức.</p>
        </div>
        <div class="item">
            <div class="image"><img src="../../../assets/images/congnghehiendai-2.png" alt=""></div>
            <p class="title">Công nghệ hiện đại</p>
            <p class="para">Hệ thống trang thiết bị y tế hiện đại bấc nhất được nhập khẩu từ các nước Anh, Mỹ, Đức.</p>
        </div>
        <div class="item">
            <div class="image"><img src="../../../assets/images/chiphihoply-2.png" alt=""></div>
            <p class="title">Chi phí hợp lý</p>
            <p class="para">Chi phí khám và điều trị, phẫu thuật minh bạch, rõ ràng cùng nhiều ưu đãi hỗ trợ hấp dẫn.</p>
        </div>
        <div class="item">
            <div class="image"><img src="../../../assets/images/hethong-1.png" alt=""></div>
            <p class="title">Hệ thống rộng khắp</p>
            <p class="para">8 bệnh viện phủ sóng từ Bắc vào Nam, thuận tiện người dân trên khắp cả nước.</p>
        </div>
    </div>
</div>
