.welcome-container {
    padding: 38px 92px;
}
.welcome-container .welcome-header .title{
    display: block;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: #3FA34D;
    font-weight: bolder;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 32px !important;
}
.welcome-container .welcome-header .title::after {
    position: absolute;
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #3FA34D;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}
.welcome-container .welcome-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.welcome-container .welcome-body .item {
    width: calc(92%/4);
    cursor: pointer;
}
.welcome-container .welcome-body .item .image {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.welcome-container .welcome-body .item .image img {
    transition: 0.2s;
}
.welcome-container .welcome-body .item:hover img {
    transform: scale(1.05);
}
.welcome-container .welcome-body .item .title {
    font-weight: bolder;
    color: #3FA34D;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0;
    font-size: 18px;
}
@media screen and (max-width: 992px) {
    .welcome-container .welcome-body .item {
        width: calc(98%/2);
    }
}
@media screen and (max-width: 768px) {
    .welcome-container {
        padding: 38px 16px;
    }
    .welcome-container .welcome-header .title {
        font-size: 26px;
    }
    .welcome-container .welcome-body .item .para {
        font-size: 15px;
    }
}