.header-top {
    padding: 0 32px;
    border-bottom: 1px solid #ebebeb;
    transition: 0.2s;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.brand-top {
    width: 20%;
}
.logo-top {
    width: 200px;
}
.navbar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.menu-top {
    width: 80%;
}
.menu-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 !important;
}
.menu-item{
    display: block;
    margin: 0 16px;
}
.menu-link {
    overflow: hidden;
    padding: 16px 0;
    display: block;
    text-transform: uppercase;
    color: #333;
    position: relative;
    transition: 0.4s;
    transition-delay: 0.2s;

}
.active {
    color: #3FA34D;
}
.menu-link:hover {
    color: #3FA34D;
}
.menu-link::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    background: #3FA34D;
    height: 3px;
    bottom: 0;
    left: -100%;
}
.menu-link::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    background: #3FA34D;
    height: 3px;
    top: 0;
    right: -100%;
}
.menu-link:hover::after {
    left: 100%;
    transition: 0.5s;
}
.menu-link:hover::before {
    right: 100%;
    transition: 0.5s;
}
.action-item {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-action-item {
    padding: 12px 0;
    width: 140px;
    text-align: center;
    background-color: #3FA34D;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}
.btn-action-item:hover {
    background-color: #368a41;
}
.toggle-top {
    width: 10%;
    display: none;
    justify-content: flex-end;
}
.toggle-top .toggle-container {
    width: 30px;
    cursor: pointer;
}
.toggle-top .toggle-container .bar{
    background-color: #3FA34D;
    height: 4px;
    content: '';
    display: block;
    transition: 0.2s;
}
.toggle-top .toggle-container .bar:nth-child(1) {
    width: 30px;
}
.toggle-top .toggle-container .bar:nth-child(2) {
    margin: 6px 0;
    width: 15px;
}
.toggle-top .toggle-container .bar:nth-child(3) {
    width: 20px;
}
.bar-1 {
    width: 15px !important;
}
.bar-2 {
    width: 30px !important;
}
.bar-3 {
    width: 25px !important;
}
@media screen and (max-width: 1200px) {
    .navbar-top {
        width: 100%;
        position: fixed;
        top: 80px;
        left: -100%;
        display: block;
        padding: 16px 16px;
        border-bottom: 1px solid #c9c9c9;
        transition: 0.4s;
        opacity: 0;
        z-index: 1;
        background-color: #fff;
    }
    .navbar-top-active {
        left: 0;
        opacity: 1;
    }
    .navbar-top .menu-top {
        width: 100%;
    }
    .navbar-top .menu-top .menu-list {
        display: block;
    }
    .navbar-top .menu-top .menu-list .menu-item {
    }
    .navbar-top .menu-top .menu-list .menu-item .menu-link {
        display: inline-block;
        padding: 10px 0;
    }
    .navbar-top .action-item {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 16px 0 0 0!important;
    }
    .toggle-top {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header-top {
        padding: 0 16px;
    }
    .navbar-top {
        padding: 16px 0;
    }
}
