.header {
    position: relative !important;
    z-index: 1 !important;
}

.body, .footer {
    position: relative !important;
    z-index: 0 !important;
}

#user {
    position: relative;
    z-index: 1;
}