<div class="footer-container">
    <div class="footer-body">
        <div class="item">
            <p class="para">Bệnh viện Mắt Sài Gòn - MST : 0302745714 - Cấp ngày 18/10/2002 bởi Sở Kế Hoạch và Đầu Tư TP.HCM Bệnh viện Mắt Sài Gòn - Giấy phép hoạt động số 73/BYT/GPHD 0302745714 - Cấp ngày 25/12/2013 bởi Bộ Y Tế</p>
            <div class="logo">
                <div class="logo-item"><img src="../../../assets/images/20150827110756-dathongbao.png" alt=""></div>
                <div class="logo-item"><img src="../../../assets/images/dmca-badge-w150-5x1-06.png" alt=""></div>
            </div>
        </div>
        <div class="item">
            <p class="title">Dịch vụ</p>
            <div class="item-detail">
                <a href="" class="link">Khám mắt</a>
                <a href="" class="link">Phẫu thuật khúc xạ</a>
                <a href="" class="link">Điều trị tật khúc xạ</a>
                <a href="" class="link">Phẩu thuật cườm khô Phaco</a>
                <a href="" class="link">Phẫu thuật cườm nước Glaucoma</a>
                <a href="" class="link">Nhãn nhi & điều tị lác</a>
                <a href="" class="link">Phẫu thuật ghép giác mạc</a>
                <a href="" class="link">Tạo hình thẫm mỹ</a>
            </div>
        </div>
        <div class="item">
            <p class="title">Về chúng tôi</p>
            <div class="item-detail">
                <a href="" class="link">Hệ thống</a>
                <a href="" class="link">Đội ngũ bác sĩ</a>
                <a href="" class="link">Tin tức</a>
                <a href="" class="link">Khuyến mãi</a>
                <a href="" class="link">Trang thiết bị</a>
                <a href="" class="link">Thư viện</a>
            </div>
        </div>
        <div class="item">
            <p class="title">Liên hệ</p>
            <div class="item-detail">
                <a href="" class="link"><i class="fa fa-phone" aria-hidden="true"></i> 0706434429</a>
                <a href="" class="link"><i class="fa fa-envelope" aria-hidden="true"></i> trinhxuanvy1@gmail.com</a>
            </div>
        </div>
    </div>
    
</div>

<div class="footer-expand-container">
    <div class="footer-expand">
        <div class="item">
            <p class="title">Theo dõi tin tức và dịch vụ mới nhất của chũng tôi!</p>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
        <div class="item">
            <p class="title">Cập nhật thông tin mới nhất!</p>
            <form class="form-group" (submit)="SubmitEmail(formSubmit)" #formSubmit="ngForm">
                <div class="input-form">
                    <input placeholder="Email của bạn" ngModel #text="ngModel" [(ngModel)]="email" name="email" required>
                    <button class="submit" [disabled]="formSubmit.invalid">Đăng ký</button>
                </div>
                <p class="message" *ngIf="text.touched && text.errors?.required">Vui lòng nhập lại Email</p>  
            </form>
        </div>
        
    </div>
</div>

<style>
    .footer-container {
        padding: 32px 92px;
        background-color: #3FA34D;
    }
    .footer-container .footer-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-container .footer-body .item {
        
    }
    .footer-container .footer-body .item .item-detail .link{
        display: block;
        color: #fff !important;
        padding: 8px 0;
    }
    .footer-container .footer-body .item:nth-child(1) {
        width: 35%;
    }
    .footer-container .footer-body .item:nth-child(2) {
        width: 25%;
    }
    .footer-container .footer-body .item:nth-child(3) {
        width: 15%;
    }
    .footer-container .footer-body .item:nth-child(4) {
        width: 20%;
    }
    .footer-container .footer-body .item .para {
        color: #fff;
        padding: 20px 0;
    }
    .footer-container .footer-body .item .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .footer-container .footer-body .item .logo .logo-item {
        width: 150px;
        margin: 16px;
    }

    .footer-container .footer-body .item .title {
        color: #fff;
        font-size: 26px;
        font-weight: bolder;
        padding-bottom: 16px;
        margin-bottom: 16px !important;
        display: block;
        position: relative;
    }
    .footer-container .footer-body .item .title::after {
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #fff;
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        border-radius: 50px;
    }
    .footer-expand-container {
        padding: 32px 92px;
        background-color: #36c74a;
        color: #fff;
    }
    .footer-expand-container .footer-expand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-expand-container .footer-expand .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-expand-container .footer-expand .item .fa{
        font-size: 26px;
        margin-left: 16px;
    }
    .footer-expand-container .footer-expand .item .fa-facebook {
        color: #228bb4 !important;
    }
    .footer-expand-container .footer-expand .item .fa-youtube-play {
        color: #d60c0c !important;
    }
    .footer-expand-container .footer-expand .item form {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 16px !important;
    }
    .footer-expand-container .footer-expand .item form .input-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-expand-container .footer-expand .item form .input-form input{
        padding: 8px 16px;
        border: 5px solid #fff;
    }
    .footer-expand-container .footer-expand .item form .input-form button {
        padding: 8px 16px;
        width: 110px;
        border: 5px solid #fff;
        cursor: pointer;
        color: #fff;
        background-color: #3FA34D;
    }
    .footer-expand-container .footer-expand .item .message {
        position: absolute;
        display: block;
        bottom: -25px;
        color: #ff0000;
    }
    .footer-expand-container .footer-expand .item:nth-child(2) {
            flex-direction: column;
    }
    .footer-expand-container .footer-expand .item:nth-child(2) .title {
        padding: 8px 0;
    }
    @media screen and (max-width: 992px) {
        .footer-container .footer-body .item .logo{
            display: block;
        }
    }
    @media screen and (max-width: 768px) {
        .footer-container {
            padding: 32px 16px;
        }
        .footer-expand-container {
            padding: 32px 16px;
            overflow: hidden;
        }
        .footer-expand-container .footer-expand {
            flex-direction: column;
        }
        
        
        
    }
    @media screen and (max-width: 992px) {
        .footer-container .footer-body .item:nth-child(1) {
            width: 45%;
        }
        .footer-container .footer-body .item:nth-child(2) {
            width: 45%;
        }
        .footer-container .footer-body .item:nth-child(3) {
            width: 45%;
        }
        .footer-container .footer-body .item:nth-child(4) {
            width: 45%;
        }
        .footer-container .footer-body .item .logo{
            display: block;
        }
        .footer-expand-container .footer-expand .item:nth-child(1) {
            flex-direction: column;
        }
        .footer-expand-container .footer-expand .item:nth-child(1) .fa {
            padding: 4px 0;
        }
        
    }
</style>
