/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none !important;
}
input:focus, button:focus {
    outline: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p {
    margin: 0 !important;
}
@font-face {
    font-family: 'My-Font';
    src: url('./assets/fonts/VarelaRound-Regular.ttf');
}
body {
    font-family: 'My-Font' !important;
}
@import '~ngx-owl-carousel-o/lib/styles/css/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/css/owl.theme.default';

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50px !important;
    background-color: #3fa34c93 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    transition: 0.2s;
}
.owl-next:hover, .owl-prev:hover {
    background-color: #368a41 !important;
}
@media screen and (max-width: 768px) {
    .owl-prev, .owl-next {
        width: 30px;
        height: 30px;
        font-size: 20px !important;
    }
}

.header-fixed {
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 5px #000026;
    background-color: #fff;
    z-index: 10;
}

.experience .experience-body .owl-next, .experience .owl-prev {
    border: 1px solid #fff;
}

.experience .experience-body .owl-next:hover, .experience .experience-body .owl-prev:hover {
    background-color: #fff !important;
    color: #368a41 !important;
}